<head>
    <title>sucess</title>
    <link href="mystyle.css" rel="stylesheet" type="text/css">
</head>
<body>
        <h1>Lappy Corp. Pvt. Ltd.</h1>
    <h2><%= sent%></h2>
        <button type='<%=button %>' onclick="window.history.go(-1)">return to profile page</button>
</body>